Node-RED/flows.json
[
    {
        "id": "34050fe70bfc4e21",
        "type": "tab",
        "label": "Medi Box",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b3f5982eca243409",
        "type": "ui_switch",
        "z": "34050fe70bfc4e21",
        "name": "",
        "label": "Switch",
        "tooltip": "",
        "group": "0f4abe6c69303a2f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 530,
        "y": 100,
        "wires": [
            [
                "cc9b7f875b6aacdb"
            ]
        ]
    },
    {
        "id": "cc9b7f875b6aacdb",
        "type": "mqtt out",
        "z": "34050fe70bfc4e21",
        "name": "",
        "topic": "ENTC-ADMIN-MAIN-ON-OFF",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "52d5396b8b902a87",
        "x": 850,
        "y": 100,
        "wires": []
    },
    {
        "id": "5a96521d963b5f0b",
        "type": "mqtt in",
        "z": "34050fe70bfc4e21",
        "name": "",
        "topic": "ENTC-ADMIN-MAIN-ON-OFF-ESP",
        "qos": "2",
        "datatype": "utf8",
        "broker": "52d5396b8b902a87",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 100,
        "wires": [
            [
                "b3f5982eca243409"
            ]
        ]
    },
    {
        "id": "68fd77dc1c15e29d",
        "type": "mqtt in",
        "z": "34050fe70bfc4e21",
        "name": "",
        "topic": "ENTC-ADMIN-TEMP",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52d5396b8b902a87",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 280,
        "wires": [
            [
                "30abe63ce9eebf3f",
                "6f18ec59536f2309"
            ]
        ]
    },
    {
        "id": "30abe63ce9eebf3f",
        "type": "ui_gauge",
        "z": "34050fe70bfc4e21",
        "name": "Temperature",
        "group": "421977a32c68457b",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#178bd3",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "35",
        "diff": false,
        "className": "",
        "x": 410,
        "y": 260,
        "wires": []
    },
    {
        "id": "6f18ec59536f2309",
        "type": "ui_chart",
        "z": "34050fe70bfc4e21",
        "name": "Temperature",
        "group": "421977a32c68457b",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 410,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "91ae3b7fea742a82",
        "type": "mqtt in",
        "z": "34050fe70bfc4e21",
        "name": "SCH-ESP-ON",
        "topic": "ENTC-ADMIN-SCH-ESP-ON",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52d5396b8b902a87",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 480,
        "wires": [
            [
                "1d9f28edb5d09a04"
            ]
        ]
    },
    {
        "id": "1d9f28edb5d09a04",
        "type": "function",
        "z": "34050fe70bfc4e21",
        "name": "function 7",
        "func": "return {\n    payload:msg.payload === 1\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 480,
        "wires": [
            [
                "0f67900add5ae7a4"
            ]
        ]
    },
    {
        "id": "0f67900add5ae7a4",
        "type": "ui_switch",
        "z": "34050fe70bfc4e21",
        "name": "Switch",
        "label": "Switch",
        "tooltip": "",
        "group": "ece895c28b83606d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 470,
        "y": 480,
        "wires": [
            [
                "6e787919649de3a1"
            ]
        ]
    },
    {
        "id": "6e787919649de3a1",
        "type": "change",
        "z": "34050fe70bfc4e21",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "isScheduled",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 480,
        "wires": [
            [
                "54202fcfe2587118"
            ]
        ]
    },
    {
        "id": "549a577823d60ac5",
        "type": "change",
        "z": "34050fe70bfc4e21",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "scheduleDate",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 560,
        "wires": [
            [
                "54202fcfe2587118"
            ]
        ]
    },
    {
        "id": "e6df117b55589c58",
        "type": "change",
        "z": "34050fe70bfc4e21",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "scheduleTime",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 640,
        "wires": [
            [
                "54202fcfe2587118"
            ]
        ]
    },
    {
        "id": "d8722c3d4ef42b17",
        "type": "ui_text_input",
        "z": "34050fe70bfc4e21",
        "name": "Time",
        "label": "",
        "tooltip": "",
        "group": "ece895c28b83606d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 110,
        "y": 640,
        "wires": [
            [
                "e6df117b55589c58"
            ]
        ]
    },
    {
        "id": "bfcf9a427be677bf",
        "type": "ui_date_picker",
        "z": "34050fe70bfc4e21",
        "name": "Date",
        "label": "On",
        "group": "ece895c28b83606d",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 110,
        "y": 560,
        "wires": [
            [
                "549a577823d60ac5"
            ]
        ]
    },
    {
        "id": "54202fcfe2587118",
        "type": "function",
        "z": "34050fe70bfc4e21",
        "name": "function 8",
        "func": "let isScheduled = global.get(\"isScheduled\");\nlet scheduleDate = global.get(\"scheduleDate\");\nlet scheduleTime = global.get(\"scheduleTime\");\n\nif(isScheduled && scheduleDate && scheduleTime){\n\n    let schedule = scheduleDate+scheduleTime;\n\n    if(Date.now()>schedule){\n        return{\n            payload:\"OLDER\"\n        }\n    }\n    else{\n        return{\n            payload:schedule\n        }\n    }\n}\nelse if(isScheduled===false){\n    return{\n        payload:\"NOT-SHEDULED-ON\"\n    }\n}\nelse{\n    return{\n        payload:null\n    }\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 560,
        "wires": [
            [
                "ab33885b01e37d77"
            ]
        ]
    },
    {
        "id": "ab33885b01e37d77",
        "type": "switch",
        "z": "34050fe70bfc4e21",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "NOT-SCHEDULED-ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OLDER",
                "vt": "str"
            },
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1090,
        "y": 560,
        "wires": [
            [
                "59ef83e059cb1a78"
            ],
            [
                "55b6ccbda4211dc0"
            ],
            [
                "63e1dc8ee8391311"
            ],
            [
                "318fe96a29dbb40f"
            ]
        ]
    },
    {
        "id": "59ef83e059cb1a78",
        "type": "function",
        "z": "34050fe70bfc4e21",
        "name": "function 9",
        "func": "return {\n    payload:\"NOT\",\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 480,
        "wires": [
            [
                "5ad6f6d0beb8fda4"
            ]
        ]
    },
    {
        "id": "63e1dc8ee8391311",
        "type": "function",
        "z": "34050fe70bfc4e21",
        "name": "function 10",
        "func": "return {\n    payload:Math.round(msg.payload/1000),\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 520,
        "wires": [
            [
                "5ad6f6d0beb8fda4"
            ]
        ]
    },
    {
        "id": "55b6ccbda4211dc0",
        "type": "function",
        "z": "34050fe70bfc4e21",
        "name": "function 11",
        "func": "return {\n    payload:\"Please enter a future time\"\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 600,
        "wires": [
            [
                "81a8f6a28e7d7d73"
            ]
        ]
    },
    {
        "id": "318fe96a29dbb40f",
        "type": "function",
        "z": "34050fe70bfc4e21",
        "name": "function 12",
        "func": "return{\n    payload:\"Please enter a valid date and time\"\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 640,
        "wires": [
            [
                "81a8f6a28e7d7d73"
            ]
        ]
    },
    {
        "id": "5ad6f6d0beb8fda4",
        "type": "mqtt out",
        "z": "34050fe70bfc4e21",
        "name": "",
        "topic": "ENTC-ADMIN-SCH-ON",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "52d5396b8b902a87",
        "x": 1590,
        "y": 500,
        "wires": []
    },
    {
        "id": "81a8f6a28e7d7d73",
        "type": "ui_toast",
        "z": "34050fe70bfc4e21",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1570,
        "y": 620,
        "wires": []
    },
    {
        "id": "c0af5c867228eeac",
        "type": "ui_gauge",
        "z": "34050fe70bfc4e21",
        "name": "Light Intensity",
        "group": "88eb4153c8674f63",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Light Intensity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#178bd4",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0.4",
        "seg2": "0.7",
        "diff": false,
        "className": "",
        "x": 520,
        "y": 840,
        "wires": []
    },
    {
        "id": "a1b8634995abb5a4",
        "type": "ui_chart",
        "z": "34050fe70bfc4e21",
        "name": "Light Intensity",
        "group": "88eb4153c8674f63",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Light Intensity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 520,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "2af01f29eeeb8d7a",
        "type": "ui_dropdown",
        "z": "34050fe70bfc4e21",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "7cd07bf0c6fc9598",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Tablet A",
                "value": "a",
                "type": "str"
            },
            {
                "label": "Tablet B",
                "value": "b",
                "type": "str"
            },
            {
                "label": "Tablet C",
                "value": "c",
                "type": "str"
            },
            {
                "label": "Custom",
                "value": "n",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 820,
        "y": 1180,
        "wires": [
            [
                "346a257c283766d7"
            ]
        ]
    },
    {
        "id": "b45e844f885336ad",
        "type": "ui_slider",
        "z": "34050fe70bfc4e21",
        "name": "Minimum Angle",
        "label": "Minimum Angle",
        "tooltip": "",
        "group": "7cd07bf0c6fc9598",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "120",
        "step": 1,
        "className": "",
        "x": 840,
        "y": 1060,
        "wires": [
            [
                "a63cefedba377f54"
            ]
        ]
    },
    {
        "id": "b79d5ff78b367b5a",
        "type": "ui_slider",
        "z": "34050fe70bfc4e21",
        "name": "Controlling Factor",
        "label": "Controlling Factor",
        "tooltip": "",
        "group": "7cd07bf0c6fc9598",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "className": "",
        "x": 850,
        "y": 1120,
        "wires": [
            [
                "8b29c7a8f102d576"
            ]
        ]
    },
    {
        "id": "a63cefedba377f54",
        "type": "mqtt out",
        "z": "34050fe70bfc4e21",
        "name": "",
        "topic": "ENTC-ADMIN-minimumAngle",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "52d5396b8b902a87",
        "x": 1110,
        "y": 1060,
        "wires": []
    },
    {
        "id": "8b29c7a8f102d576",
        "type": "mqtt out",
        "z": "34050fe70bfc4e21",
        "name": "",
        "topic": "ENTC-ADMIN-controllingFactor",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "52d5396b8b902a87",
        "x": 1110,
        "y": 1120,
        "wires": []
    },
    {
        "id": "346a257c283766d7",
        "type": "mqtt out",
        "z": "34050fe70bfc4e21",
        "name": "",
        "topic": "ENTC-ADMIN-DropDown",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "52d5396b8b902a87",
        "x": 1090,
        "y": 1180,
        "wires": []
    },
    {
        "id": "cbcf98ba9a29b494",
        "type": "mqtt in",
        "z": "34050fe70bfc4e21",
        "name": "",
        "topic": "ENTC-ADMIN-PRE-MIN-ANGLE",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52d5396b8b902a87",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 590,
        "y": 1060,
        "wires": [
            [
                "b45e844f885336ad"
            ]
        ]
    },
    {
        "id": "2d6dcd36c05d5594",
        "type": "mqtt in",
        "z": "34050fe70bfc4e21",
        "name": "",
        "topic": "ENTC-ADMIN-PRE-CON-FACTOR",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52d5396b8b902a87",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 580,
        "y": 1120,
        "wires": [
            [
                "b79d5ff78b367b5a"
            ]
        ]
    },
    {
        "id": "2ec9e6d7cd877b26",
        "type": "mqtt in",
        "z": "34050fe70bfc4e21",
        "name": "",
        "topic": "ENTC-ADMIN-LightIntensity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52d5396b8b902a87",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 860,
        "wires": [
            [
                "c0af5c867228eeac",
                "a1b8634995abb5a4"
            ]
        ]
    },
    {
        "id": "2b07748f83f69d3b",
        "type": "mqtt in",
        "z": "34050fe70bfc4e21",
        "name": "",
        "topic": "ENTC-ADMIN-SET-DROPDOWN-DEFAULT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52d5396b8b902a87",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 550,
        "y": 1180,
        "wires": [
            [
                "2af01f29eeeb8d7a"
            ]
        ]
    },
    {
        "id": "0f4abe6c69303a2f",
        "type": "ui_group",
        "name": "Main Switch",
        "tab": "e4c8b4edeb6995a4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "52d5396b8b902a87",
        "type": "mqtt-broker",
        "name": "",
        "broker": "https://test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "421977a32c68457b",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "e4c8b4edeb6995a4",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ece895c28b83606d",
        "type": "ui_group",
        "name": "Schedule",
        "tab": "e4c8b4edeb6995a4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "88eb4153c8674f63",
        "type": "ui_group",
        "name": "Light Intensity",
        "tab": "e4c8b4edeb6995a4",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7cd07bf0c6fc9598",
        "type": "ui_group",
        "name": "Shade Controller",
        "tab": "e4c8b4edeb6995a4",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e4c8b4edeb6995a4",
        "type": "ui_tab",
        "name": "MediBox",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]